.text {
    border: 2px solid white;
    height: 100%;
}
#butone{
    border: none;
    border-radius: 30px;
}
.btn{
    font-size: 14px;
}
.text1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.para{
    color: gray;
}
.para1{
    color: #00a7ac;
}

.bor {
    border: 1px solid white;
    width: 400px;
    height: 400px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(232, 229, 229);
}
.bor:hover{
 border: 1px solid #00a7ac;    

}
li {
    list-style: none;
}

img {
    border: 2px solid white;
    border-radius: 30px;
    

}

.text4 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text4:hover {
    color: #00a7ac;
}

.text3 {
    display: flex;
}

.text5 {
    display: flex;
    margin-left: 80px;
    margin-top: -20px ;
    color: gray;
}

.text6 {
    display: flex;
}

li.vr {
    color: black;
}

.text7 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text7 svg {
    color: #d5dfdd;
}

.text8 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 3px;
}

.text8 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text9 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 9px;
}

.text9 svg {
    color: #d5dfdd;
}

.text10 {
    border: 2px solid #F3E8C1;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #F3E8C1;
    position: absolute;
    margin-top: 30px;

}


/* img1 */


.text13 {
    display: flex;
}
.text14 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text14:hover {
    color: #00a7ac;
}

.text15 {
    display: flex;
    margin-left: 87px;
    margin-top: -25px;
    color: gray;
}

.text16 {
    display: flex;
}

li.vr {
    color: black;
}

.text17 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text17 svg {
    color: #d5dfdd;
}


.text18 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
}

.text18 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text19 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
}

.text19 svg {
    color: #d5dfdd;
}

.text20 {
    border: 2px solid #F3E8C1;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #F3E8C1;
    position: absolute;
    margin-top: 30px;
}


/* img2 */

.text23 {
    display: flex;
}

.text24 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text24:hover {
    color: #00a7ac;
}
.text25 {
    display: flex;
    margin-left: 87px;
    margin-top: -25px;
    color: gray;
}

.text26 {
    display: flex;
}

li.vr {
    color: black;
}

.text27 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text27 svg {
    color: #d5dfdd;
}


.text28 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: 27px; */
}

.text28 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text29 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: -37px; */
}

.text29 svg {
    color: #d5dfdd;
}

.text30 {
    border: 2px solid white ;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #912BFE2E;
    position: absolute;
    margin-top: 30px;
}

.text31 {
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
    color: #00a7ac;
}

/* img3 */

.text33 {
    display: flex;
}

.text34 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text34:hover {
    color: #00a7ac;
}
.text35 {
    display: flex;
    margin-left: 87px;
    margin-top: -25px;
    color: gray;
}

.text36 {
    display: flex;
}

li.vr {
    color: black;
}

.text37 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text37 svg {
    color: #d5dfdd;
}


.text38 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: 27px; */
}

.text38 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text39 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: -37px; */
}

.text39 svg {
    color: #d5dfdd;
}

.text40 {
    border: 2px solid white;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #912BFE2E;
    position: absolute;
    margin-top: 30px;
}

.text41 {
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
    color: #00a7ac;
}

/* img4 */
.text43 {
    display: flex;
}

.text44 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text44:hover {
    color: #00a7ac;
}
.text45 {
    display: flex;
    margin-left: 87px;
    margin-top: -25px;
    color: gray;
}

.text46 {
    display: flex;
}

li.vr {
    color: black;
}

.text47 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text47 svg {
    color: #d5dfdd;
}


.text48 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: 27px; */
}

.text48 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text49 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: -37px; */
}

.text49 svg {
    color: #d5dfdd;
}

.text50 {
    border: 2px solid #F3E8C1;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #F3E8C1;
    position: absolute;
    margin-top: 50px;
}

.text51 {
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
    color: #00a7ac;
}

/* img5 */
.text53 {
    display: flex;
}

.text54 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 550;
}

.text54:hover {
    color: #00a7ac;
}
.text55 {
    display: flex;
    margin-left: 87px;
    margin-top: -25px;
    color: gray;
}

.text56 {
    display: flex;
}

li.vr {
    color: black;
}

.text57 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    margin-top: 27px;
}

.text57 svg {
    color: #d5dfdd;
}


.text58 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: 27px; */
}

.text58 svg {
    margin-top: -10px;
    color: #d5dfdd;
}

.text59 li {
    font-size: 18px;
    color: gray;
    margin-left: -10px;
    /* margin-top: -37px; */
}

.text59 svg {
    color: #d5dfdd;
}

.text60 {
    border: 2px solid #F3E8C1;
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: #F3E8C1;
    position: absolute;
    margin-top: 30px;
}

.text61 {
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
    color: #00a7ac;
}

@media screen and (max-width:576px) {
    
    .row{
        display: inline;
    }

    .text1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    .para1{
        color: #00a7ac;
        margin-left: 100px;
    }
   
    .bor {
        border: 2px solid white;
        width:100%;
        height: 400px;
        margin-left: -4px;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 0 30px rgb(232, 229, 229);
    }
    .bor:hover{
     border: 2px solid #00a7ac;    
    
    }
    .text4{
        font-size: 18px;
        width: 100%;
        
    }
    .text5{
        display: inline;
        width: 100%;
    }
    .bis{
        margin-top: -45px;
    }
    
 .text5 li{
       
        margin-left: 80px;
        /* margin-top: -9px; */
    }

 hr{
    margin-top: -10px;
 }

  .text7 li{
    font-size: 16px;
  }   
  .text8 li{
    font-size: 16px;
  }
  .text9 li{
    font-size: 16px;
  }
  .text9 svg{
    margin-top: -10px;
  }
    .text10 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text11 {
        
        display: flex;
        margin-left: 170px;
        margin-top: 30px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
    }
    .icon-link svg{
        margin-top: 2px;
    }
    
    .text12 {
        margin-top: -2px;
        font-size: 14px;

    }
   
    .text14{
        font-size: 18px;      
    }
    hr{
        margin-top: -10px;
     }
     .han{
        margin-top: -45px;
    }
    .text15{
        display: inline;
    }
 .text15 li{
       
        margin-left: 85px;
    }
    .text16{
        margin-left: 80px;
       
    }
    .text17 li{
        font-size: 16px;
      }   
      .text18 li{
        font-size: 16px;
      }
      .text19 li{
        font-size: 16px;
      }
      .text19 svg{
        margin-top: -10px;
      }
    .text20 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text21 {
        display: flex;
        margin-left: 170px;
        margin-top: 30px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
        margin-top: -2px;
    }
    
    .text22 {
        margin-top: -2px;
        font-size: 14px;
    }
    
    
    .text24{
        font-size: 18px;      
    }
    hr{
        margin-top: -10px;
     }
    .text25{
        display: inline;
    }
 .text25 li{
       
        margin-left: 85px;
    }

 .tec{
    margin-top: -45px;
 }
 .text26{
        margin-left: 80px;
    }
    .text27 li{
        font-size: 16px;
      }   
      .text28 li{
        font-size: 16px;
      }
      .text29 li{
        font-size: 16px;
      }
      .text29 svg{
        margin-top: -10px;
      }
    .text30 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text31 {
        display: flex;
        margin-left: 170px;
        margin-top: 50px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
        margin-top: -2px;
    }
    
    .text32 {
        margin-top: -2px;
       font-size: 14px;
    }   

    .text34{
        font-size: 18px;      
    }
    hr{
        margin-top: -10px;
     }
    .text35{
        display: inline;
    }
    .gan{
        margin-top: -45px;
    }
 .text35 li{   
        margin-left: 85px;
    }
 .text36{
        margin-left: 80px;
    }
    .text37 li{
        font-size: 16px;
      }   
      .text38 li{
        font-size: 16px;
      }
      .text39 li{
        font-size: 16px;
        
      }
      .text39 svg{
        margin-top: -10px;
      }
    .text40 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text41 {
        display: flex;
        margin-left: 170px;
        margin-top: 50px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
        margin-top: -2px;
    }
    
    .text42 {
        margin-top: -2px;
        font-size: 14px;
    }
    
    .text44{
        font-size: 18px;      
    }
    hr{
        margin-top: -10px;
     }
    .text45{
        display: inline;
    }
    .lab{
        margin-top: -45px;
    }
 .text45 li{
       
        margin-left: 85px;
    } 
 .text46{
        margin-left: 80px;
    }
    .text47 li{
        font-size: 16px;
      }   
      .text48 li{
        font-size: 16px;
      }
      .text49 li{
        font-size: 16px;
      }
      .text49 svg{
        margin-top: -10px;
      }
    .text50 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text51 {
        display: flex;
        margin-left: 170px;
        margin-top: 30px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
        margin-top: -2px;
    }
    
    .text52 {
        margin-top: -2px;
        font-size: 14px;
    }  
    
    .text54{
        font-size: 18px;      
    }
    hr{
        margin-top: -10px;
     }
    .text55{
        display: inline;
    }
 .text55 li{
       
        margin-left: 85px;
    }

    .mar{
        margin-top: -45px;
    }
 .text56{
        margin-left: 80px;
    }
    .text57 li{
        font-size: 16px;
      }   
      .text58 li{
        font-size: 16px;
      }
      .text59 li{
        font-size: 16px;
      }
      .text59 svg{
        margin-top: -10px;
      }
    .text60 {
        border: 2px solid #F3E8C1;
        width: 100px;
        border-radius: 20px;
        height: 30px;
        background-color: #F3E8C1;
        position: absolute;
        margin-top: 30px;
     
    }
    
    .text61 {
        display: flex;
        margin-left: 170px;
        margin-top: 30px;
        color: #00a7ac;
    }
    
    .icon-link {
        color: #00a7ac;
        margin-top: -2px;
    }
    
    .text62 {
        margin-top: -2px;
        font-size: 14px;
    }   
}  

