#drop a:hover{
    color:#44ce6f;
}

#drop:hover .dropdown-menu{
    display: block;
    
}
.text{
   /* text-align: left;     */
   margin-top: 170px;
   font-size: 50px;
   font-weight: 500;
   line-height:1.3;
   color: #0e314c;
   
}
.text1{
    color: #6084a4;
}
.text2 button{
    border: 2px solid #44ce6f;
    width: 170px;
    height: 50px;
    background-color:#44ce6f;
    border-radius: 30px;
    color: white;
}